@import "base/reset";
@import "base/typography";
@import "base/mixins";
@import "base/variables";

@import "screens/main";

@import "components/item_movieInfo";

html {
  font-size: 10px;
}

h2 {
  font-size: 2.4rem;
}

.wrapper {
  overflow: auto;
  max-width: 1060px;
  margin: 0 auto;
}

.txt-ir {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent;
}
