@import "base/reset";
@import "base/typography";
@import "base/mixins";
@import "base/variables";

@import "screens/main";

@import "components/item_movieInfo";

html {
  font-size: 10px;
}

.wrapper {
  max-width: 1190px;
}

h2 {
  font-size: 2.4rem;
}
