.movie {
  margin: 90px 0 135px;
  padding: 40px 30px 30px;
  box-sizing: border-box;
  font-size: 1.6rem;
  text-align: center;
  background-color: #f2f2f2;
  border: solid 2px #bdbdbd;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
}

.movie h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.movie hr {
  max-width: 650px;
  margin: 37px auto 28px;
}

.nav-movie {
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.link-movie {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #828282;
}

.link-movie-focus {
  font-weight: 900;
  color: #000;
}
