.footer {
  background-color: #f2f2f2;
  padding: 53px 0 38px;

  .logo {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}

.footerInfo-top,
.footerInfo-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerInfo-top {
  margin-bottom: 42px;
}

.footerInfo-bottom {
  margin-top: 36px;
}

.snsLink {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 21px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &:last-child {
    margin-right: 0;
  }

  &-twitter {
    background-image: url("../../assets/img/SNS_icons/twitter.png");
  }
  &-instagram {
    background-image: url("../../assets/img/SNS_icons/instagram.png");
  }
  &-facebook {
    background-image: url("../../assets/img/SNS_icons/facebook.png");
  }
}

.footerInfo-copyrights {
  color: #4f4f4f;
  font-size: 1.4rem;
  line-height: 2rem;
  word-break: keep-all;

  dl {
    display: inline-block;

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      margin: 0 5px;
      width: 1px;
      height: 14px;
      background-color: #4f4f4f;
    }

    dt,
    dd {
      display: inline-block;
    }

    dt {
      font-weight: 700;
    }
  }
}

.copy {
  color: #4f4f4f;
  font-size: 1.4rem;
  line-height: 2rem;
}

.copy,
.info-brandName dd {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
    padding: 30px 18px 30px;

    .footerInfo-top,
    .footerInfo-bottom {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    .footerInfo-top {
      margin-bottom: 21px;
    }

    .footerInfo-bottom {
      margin-top: 18px;
    }

    .footerInfo-copyrights {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}
