.item_movie {
  width: 220px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: "NotoSans", sans-serif;
}

.info_movie {
  padding: 20px;
}

.link_detail {
  display: block;
  overflow: hidden;
  margin-bottom: 12px;
  .img_poster {
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 11px;
  }
  .tit_movie {
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 23px;
    max-height: 23px;
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.list_info {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;

  dl + dl + dl {
    margin-top: 5px;
  }

  .genre {
    float: left;
  }
  .star {
    float: right;
  }

  .open,
  .cast {
    clear: both;
  }

  dt,
  dd {
    display: inline-block;
  }

  dt {
    color: #828282;
  }

  .star dd::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 14px;
    height: 14px;
    background-image: url("/assets/별점이미지.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.btn {
  padding: 9px 0 12px;
  width: 50%;
  text-align: center;
  border: 1px solid #bdbdbd;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  background-color: #f2f2f2;
  font-family: "NotoSans", sans-serif;
  font-weight: 500;
}

.btn_trailer {
  border-left: 0;
  border-right: 0;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 2px;
    width: 16px;
    height: 16px;
    background-image: url("/assets/아이콘_재생.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
