/* 영화 목록 */
.list_movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 23px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 26px 21px 30px;
  width: 100%;
  text-align: left;
  background-color: #fff;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
}

/* 영화 항목 */
.item_movie {
  width: 220px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: "NotoSans", sans-serif;
}

.info_movie {
  position: relative;
  padding: 20px;
  width: 100%;
}

.link_detail {
  display: block;
  overflow: hidden;
  margin-bottom: 12px;
  .img_poster {
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 11px;
  }
  .tit_movie {
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 23px;
    max-height: 23px;
    font-size: 1.6rem;
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.list_info {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 19px;

  dl + dl + dl {
    margin-top: 5px;
  }

  .genre {
    float: left;
  }
  .star {
    float: right;
  }

  .open,
  .cast {
    clear: both;
  }

  dt,
  dd {
    display: inline-block;
  }

  dt {
    color: #828282;
  }

  .star dd::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 14px;
    height: 14px;
    background-image: url("/assets/별점이미지.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.cont-btn {
  display: flex;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

.btn {
  padding: 9px 0 12px;
  width: 50%;
  text-align: center;
  border: 1px solid #bdbdbd;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  background-color: #f2f2f2;
  font-family: "NotoSans", sans-serif;
  font-weight: 500;

  &:last-of-type {
    border-left: 0;
    border-right: 0;
  }
}

.btn_trailer {
  display: flex;
  justify-content: center;
  &::before {
    content: "";
    // display: inline-block;
    // vertical-align: middle;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
    width: 16px;
    height: 16px;
    background-image: url("../assets/img/아이콘_재생.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
